@charset "UTF-8";
@import url("contents_repond.css");
/*-------------------------------------------------
title       : 콘텐츠
Author      : JYC
Create date : 2023-11-23
-------------------------------------------------*/
@media (max-width: 1024px) { 
  
}

@media (max-width: 768px) {   
  .path{position: static;transform:none; flex-direction:row; align-items:center; }
  .path li a::before{ transform: rotate(90deg);transform-origin:0 0; height:2rem; top:0.7rem; right:-2.15rem;}
  #snb .list > ul > li{display: none;} 
  #snb .list > ul > li.active{display: block;} 
  #contents { margin-bottom: 5rem; }  
}

@media (max-width: 420px) {   
  .contents_util .util { position: static; margin: 0; text-align: center; } 
}
